@page
@model FrontEnd.Pages.EscArbIndexModel
@{
    ViewData["Title"]="EscArbIndex"; //
}
<h1>Listado de EscuelaArbitros</h1>
<p>
    <a asp-page="CreateEscArb">Crear EscuelaArbitro</a>
</p>

<table class="table"> 
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead> 
    <tbody>
        @foreach (var mun in Model.EscuelaArbitros)//Ya enlazado reconoce la lista escuelaArbitros
        {
            //Hay que colocar nuevamente @ para que reconozca lo q se trabajo en la parte cshtml.cs
            <tr>
                <td>@mun.Id</td>        
                <td>@mun.Nombre</td>
                <td>
                    <a asp-page="./EditEscArb" asp-route-id="@mun.Id">Editar</a> @*Se realiza la captura del dato Edit desde aca*@
                    <a asp-page="./DeleteEscArb" asp-route-id="@mun.Id">Eliminar</a>
                    <a asp-page="./DetailsEscArb" asp-route-id="@mun.Id">Detalles</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
